.FilterBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainFilterBox button {
    margin-right: 2rem;
    margin-top: 10px;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    background: #831010 !important;
    color: white;
    border: solid 1px #bb1212 !important;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}